*,
::before,
::after {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: "roboto", sans-serif;
}

header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: inset;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    padding: 0.3rem;
    margin: 0;
    position: relative;
}

main .city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #f3f3f3;
    text-align: center;
    padding: 8px;
}

main .city i {
    font-size: 20px;
}

/* exporer */

.explorer {
    text-align: center;
}

.explorer h2 {
    margin-top: 32px;
    font-size: 32px;
}

.explorer p {
    font-size: 16px;
}

.explorer button {
    color: white;
    font-weight: 300;
    font-size: 20px;
    padding: 16px 32px;
    border: none;
    border-radius: 32px;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 1), rgba(255, 121, 218, 1));
    transition: all 200ms;
    margin-top: 16px;
}

.explorer button:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

.espace {
    padding: 0 16px;
}

.tuto li {
    background-color: #f6f6f6;
    padding: 20px 32px;
    list-style-type: none;
    flex-grow: 1;
    border-radius: 16px;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}

.tuto li:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

.tuto ol {
    display: flex;

    gap: 32px;
}

@media (max-width:1000px) {
    .tuto ol {
        flex-direction: column;
    }

}

.tuto li i.fa {
    margin-right: 16px;
    color: lightgrey;
    font-size: 20px;
}

.tuto {
    counter-reset: steps;
}

.tuto li::before {
    content: counter(steps);
    counter-increment: steps;
    color: white;
    background-color: #9356DC;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 16px;
    left: -16px;
}

li {
    position: relative;
}